<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>戴伟斯科技 - 角色权限管理</title>

    <th:block th:insert="~{share/resource::css}"></th:block>
</head>
<body>
<div th:replace="~{share/navbar::nav}"></div>

<div class="container">
    <h1>角色权限管理</h1>

    <div class="mb-3 mt-2">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addRoleModal">添加角色</button>
    </div>
    <div id="toolbar" class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="search" class="col-form-label">搜索角色：</label>
        </div>
        <div class="col-auto">
            <input type="text" id="search" class="form-control">
        </div>
    </div>
    <table id="table"></table>


    <!-- Add Role Model -->
    <div class="modal fade" id="addRoleModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addRoleModal1">添加角色</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form th:action="@{/systemManagement/addRole}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="name" class="form-label">角色名</label>
                            <input required type="text" class="form-control" name="name" id="name">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-success">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--  Edit Role Modal  -->
    <div class="modal fade modal-dialog-scrollable" id="editRoleModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editRoleModal1">编辑权限 - <span id="edit-permission-role"></span></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" th:action="@{/systemManagement/editPermission}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <input type="hidden" id="roleId" name="roleId">
                    <div class="modal-body">
                        <div class="form-check form-switch" th:each="permission:${permissionList}">
                            <input class="form-check-input" type="checkbox" role="switch" th:id="'permission-' + ${permission.name}" th:value="${permission.id}" name="permissionSet">
                            <label class="form-check-label" th:for="'permission-' + ${permission.name}" th:text="${permission.content}"></label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<th:block th:insert="~{share/resource::js}"></th:block>
<script>
    const tokenName = "[[${_csrf.parameterName}]]"
    const token = "[[${_csrf.token}]]"

    function removeRole(id) {
        let formData = new FormData();
        formData.append(tokenName, token)
        formData.append('id', id);

        $.ajax({
            url: "/systemManagement/removeRole",
            type: "post",
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success(res) {
                if (res.code !== 0) {
                    bootbox.alert(res.message)
                    return
                }
                $('#table').bootstrapTable('refresh')
            },
            error(jqXHR, textStatus, errorThrown) {
                /*弹出jqXHR对象的信息*/
                console.log(jqXHR.responseText);
                console.log(jqXHR.status);
                console.log(jqXHR.readyState);
                console.log(jqXHR.statusText);
                /*弹出其他两个参数的信息*/
                console.log(textStatus);
                console.log(errorThrown);
            }
        })
    }

    $('#table').bootstrapTable({
        method: "get",
        url: "/systemManagement/roleList.bt",
        toolbar: "#toolbar",
        striped: false,
        pagination: true,
        pageNumber: 1,
        sidePagination: "server",
        pageSize: 10,
        pageList: [10, 25, 50, 100],
        queryParamsType: "",
        queryParams: (params) => {
            return {
                page: params.pageNumber,
                size: params.pageSize,
                search: $('#search').val()
            }
        },
        columns: [
            {title: "角色名", field: "name"},
            {
                title: "操作",
                formatter: (value, rows, index) => {
                    let content = '<div class="btn-group" role="group">'
                    content += '<button id="edit-permission" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editRoleModal">编辑权限</button>'
                    content += '<button id="remove" class="btn btn-danger">删除</button>'
                    content += '</div>'

                    return content
                },
                events: {
                    'click #edit-permission': (e, value, rows, index) => {
                        $('#edit-permission-role').text(rows.name)

                        $.ajax({
                            url: "/systemManagement/roleHasPermission.json",
                            type: "get",
                            data: {
                                roleId: rows.id
                            },
                            success(res) {
                                $('#roleId').val(rows.id)

                                // 消除所有选中的权限
                                let inputList = $('input[name="permissionSet"]');
                                for (let i = 0; i < inputList.length; i++) {
                                    inputList[i].checked = false
                                    console.log(111)
                                }

                                // 选中该角色拥有的权限
                                res.body.forEach(hasRole => {
                                    $('#permission-' + hasRole.name).prop("checked", true)
                                })
                            },
                            error(jqXHR, textStatus, errorThrown) {
                                /*弹出jqXHR对象的信息*/
                                console.log(jqXHR.responseText);
                                console.log(jqXHR.status);
                                console.log(jqXHR.readyState);
                                console.log(jqXHR.statusText);
                                /*弹出其他两个参数的信息*/
                                console.log(textStatus);
                                console.log(errorThrown);
                            }
                        })
                    },
                    'click #remove': (e, value, rows, index) => {
                        bootbox.confirm({
                            message: '是否删除角色[' + rows.name + ']？',
                            buttons: {
                                confirm: {
                                    label: '删除',
                                    className: 'btn-danger'
                                },
                                cancel: {
                                    label: '取消',
                                    className: 'btn-secondary'
                                }
                            },
                            callback: function (result) {
                                if (result) {
                                    removeRole(rows.id)
                                }
                            }
                        })

                    }
                }
            }
        ],
        responseHandler: (res) => {
            if (res.code !== 0) {
                alert(res.msg)
                return null
            }
            return res.body
        }
    })

    $('#search').on('input', (e) => {
        $('#table').bootstrapTable('refresh')
    })
</script>
</body>
</html>